// .Play {
//     .card-container {
//         @include flexBox(column);
//         @include position(relative, $bottom: 0, $left: 0);
//         @include size($cardWidth, $cardHeight);
//         transform: scale(.88);
//         perspective: 1000; 

//         &.drop-left { animation: dropLeft .8s forwards; }
//         @include dropKeyframes(dropLeft, '-');

//         &.drop-right { animation: dropRight .8s forwards; }
//         @include dropKeyframes(dropRight, '+');

//         &.move-left { animation: moveLeft .4s forwards; }
//         @include moveKeyframes(moveLeft, '-');

//         &.move-right { animation: moveRight .4s forwards; }
//         @include moveKeyframes(moveRight, '+');

//         &.flip .card { transform: rotateX(180deg) }

//         // Suit styles
//         &:nth-child(-n+13)  { 
//             @include cardColor($blacksuit); 
//             .suit { 
//                 @extend %suitBgImg;
//                 background-image: url('../imgs/clubs.png'); 
//             }
//         }
//         &:nth-child(n+14)   { 
//             @include cardColor($redsuit);
//             .suit { 
//                 @extend %suitBgImg;
//                 background-image: url('../imgs/diamonds.png'); 
//             }
//         }
//         &:nth-child(n+27)   { 
//             @include cardColor($blacksuit); 
//             .suit { 
//                 @extend %suitBgImg;
//                 background-image: url('../imgs/spades.png'); 
//             }
//         }
//         &:nth-child(n+40)   { 
//             @include cardColor($redsuit); 
//             .suit { 
//                 @extend %suitBgImg;
//                 background-image: url('../imgs/hearts.png'); 
//             }
//         }
//     }
// }