input {
    padding: 10px;
    margin: 10px 0;
    outline: none;
    border: none;
    font-size: 1.3rem;
}
::-webkit-input-placeholder {
  color: $bluegreen;
}

.newCardForm {
  @include flexBox(column);
}