.pipArea {
    font-size: 2.3rem;
    @include wordBreak(normal);
    @include flexBox(row, flex-start);

    &.lower { transform: rotate(180deg); }
    & .pip { @include flexBox(column); }
    & .suit {
        @include size(35px, 35px);
        display: block;
        border-radius: 50%;
        margin-top: 5px;
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

// .card-container:nth-child(n + 1) .suit {
//     background-image: url('../imgs/clubs.png');
// }
// .card-container:nth-child(n + 14) .suit {
//     background-image: url('../imgs/diamonds.png');
// }
// .card-container:nth-child(n + 27) .suit {
//     background-image: url('../imgs/spades.png');
// }
// .card-container:nth-child(n + 40) .suit {
//     background-image: url('../imgs/hearts.png');
// }