main.Share  {
    @include flexBox(column);
    height: 100vh;

    font: {
        size: 2rem;
    }

    .list {
        background-color: $bluegreen;
        padding: 10px;
        margin: 20px;
    }
    .listItem {
        color: white;
        font-size: 1.2rem;
    }

    // .findFriend {
    //     input {
    //         padding: 10px;
    //         outline: none;
    //         border: none;
    //         font-size: 1.5rem;
    //     }
    // }
    // ::-webkit-input-placeholder {
    //     color: $bluegreen;
    // }

    .friendInvite {
        @include size(50px, 30px);
        cursor: pointer;
        padding: 3px;
        margin-left: 7px;
        border-radius: 5px;
        background-color: $redsuit;
        font-size: 1rem;
    }
}

