// Answer buttons
.card .button {
  @include flexBox;
  @include size(100px, 55px);
  @include position(absolute, $left: 50%, $x: -50%);
  border-radius: 4px;
  font-size: 1.3rem;
  // opacity: 0;
  border: medium solid $white;
  color: whitesmoke;
  cursor: pointer;
  transition: opacity .25s ease-in .15s;
}

// // Buttons fade in for first card
// .card-container.fade-in .card .answer {
//   opacity: 1;
// } 