@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');

//————————————————————————————————————————————>> color

$redsuit: #C24444;
$blacksuit: #205050;

$white: whitesmoke;
$red: #CD5C5C;
$blue: #9CDCFE;
$orange: #CE9178;
$purple: #C586C0;
$yellow: #DCDCAA;
$green: #4EC9B0;
$gray: #222;

$lightbluegreen: RGBA(0, 215, 176, 1.00);
$bluegreen: RGBA(0, 195, 169, 1.00);
$darkbluegreen: RGBA(0, 153, 136, 1.00);

$cardWidth: 250px;
$halfCardWidth: 125px;

$cardHeight: 350px;
$halfCardHeight: 175px;

$headerHeight: 25vh;
$barrierWidth: calc(50% - #{$halfCardWidth});


//————————————————————————————————————————————>> root

* { outline: none; }

html {
    background-color: $darkbluegreen;
    font: {    
        background-color: #555; 
        size: 1em;
        family: 'Montserrat', sans-serif;
    }
}


//————————————————————————————————————————————>> links

Link {
    cursor: pointer;
}
a {
    &:active, &:hover, &:visited, &:link {
        text-decoration: none;
        color: whitesmoke;
    }
}

//————————————————————————————————————————————>> global mixins

@mixin bgColor($color) {
    background-color: $color;
}                

@mixin size($width: null, $height: null) {
    width: $width;
    height: $height;
}

@mixin flexAll($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin position(
    $position: null, 
    $left: null, 
    $top: null, 
    $bottom: null, 
    $right: null,
    $x: 0,
    $y: 0,
    $deg: 0deg
) {
    position: $position;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    transform: translate($x, $y) rotate($deg);
}

%translateCenter {
    transform: translate(-50%, -50%);
}