@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700');

//————————————————————————————————————————————>> color

$redsuit: #C24444;
$blacksuit: #205050;

$white: whitesmoke;
$red: #CD5C5C;
$blue: #9CDCFE;
$orange: #CE9178;
$purple: #C586C0;
$yellow: #DCDCAA;
$green: #4EC9B0;
$gray: #222;

$lightbluegreen: RGBA(0, 215, 176, 1.00);
$bluegreen: RGBA(0, 195, 169, 1.00);
$darkbluegreen: RGBA(0, 153, 136, 1.00);

$cardWidth: 250px;
$halfCardWidth: 125px;

$cardHeight: 350px;
$halfCardHeight: 175px;

$headerHeight: 80px;
$barrierWidth: calc(50% - #{$halfCardWidth});

.altText {
    color: #707070;
}


//————————————————————————————————————————————>> root

* { outline: none; }

html {
    background-color: $gray;
    font: {    
        color: #555; 
        size: 1em;
        family: 'Montserrat', sans-serif;
    }
}


//————————————————————————————————————————————>> links

a {
    cursor: pointer;
    &:active, &:hover, &:visited, &:link {
        text-decoration: none;
        color: whitesmoke;
    }
}

//————————————————————————————————————————————>> global mixins

@mixin bgColor($color:#222) {
    background-color: $color;
}

@mixin size($w: null, $h: null) {
    width: $w;
    height: $h;
}

@mixin flexBox($direction:row, $justify:center, $alignC:center, $alignI:center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-content: $alignC;
    align-items: $alignI;
}


@mixin prefix($property, $value) {
    #{'-webkit-' + $property}: $value;
    #{'-khtml-' + $property}: $value;
    #{'-moz-' + $property}: $value;
    #{'-ms-' + $property}: $value;
    #{'' + $property}: $value;
}

div.flexContainer {
    @include flexBox($alignI:flex-start);
    @include prefix(filter, grayscale(50%))
}

@mixin position(
    $pos: relative, 
    $l: unset, 
    $t: unset, 
    $b: unset, 
    $r: unset,
    $x: 0,
    $y: 0,
    $deg: 0deg
) {
    position: $pos;
    top: $t;
    left: $l;
    bottom: $b;
    right: $r;
    transform: translate($x, $y) rotate($deg);
}

%translateCenter {
    transform: translate(-50%, -50%);
}