$white: whitesmoke;
$red: #CD5C5C;
$blue: #9CDCFE;
// $bluegreen: #00D7B0;
$lightbluegreen: RGBA(0, 215, 176, 1.00);
$bluegreen: RGBA(0, 195, 169, 1.00);
$darkbluegreen: RGBA(0, 153, 136, 1.00);
$teal: teal;
$orange: #CE9178;
$purple: #C586C0;
$yellow: #DCDCAA;
$green: #4EC9B0;
$gray: #222;

$redsuit: #C24444;
$blacksuit: #205050;

$cardWidth: 250px;
$halfCardWidth: 125px;

$cardHeight: 350px;
$halfCardHeight: 175px;

$barrierWidth: calc(50% - $halfCardWidth);