// Global styles
@import './globalStyles/reset';
@import './globalStyles/globals';

// Modular styles
@import './modularStyles/buttonStyles';
@import './modularStyles/cardStyles';
@import './modularStyles/formStyles';
@import './modularStyles/textStyles';

// Component styles
@import './componentStyles/App';
@import './componentStyles/Header';
@import './componentStyles/Home';
@import './componentStyles/Play';
@import './componentStyles/Quiz';
@import './componentStyles/Share';
@import './componentStyles/Manage';
@import './componentStyles/Settings';