// Global styles
@import './globalStyles/reset';
@import './globalStyles/globals';

// Modular styles
@import './modularStyles/buttonStyles';
@import './modularStyles/formStyles';
@import './modularStyles/textStyles';
@import './modularStyles/CardExtras';

// Component styles
@import '../App';

@import '../components/Login/Login';
@import '../components/Home/Home';

@import '../components/PlayAndQuiz/PlayAndQuiz';
@import '../components/Pip/Pip';
@import '../components/CardButton/CardButton';

@import '../components/Manage/Manage';

@import '../components/Share/Share';

@import '../components/Settings/Settings';