.Quiz {
    @include size (100%, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .02px;
    padding: .02px;
    
    .table {
        @include size(950px, 550px);
        margin: .02px;
        padding: .02px;
        border: medium solid $redsuit;
        position: relative;
        
        .cards-go-here {
            @include size($cardWidth, $cardHeight);
            border-radius: 18px;
            border: thin dashed $white;
            cursor: pointer;
            z-index: 1;
            transform: scale(.8);
        }
    }
}

.qButton {
    @include size(200px, 70px);
    @include position(absolute);
    background-color: green;
    cursor: pointer;
    @include flexAll;
    color: $white;
    z-index: 10;
}
.qButton2 {
    @extend .qButton;
    @include position(absolute, $left: 400px);
}

.deck {
    @include size(100%, $cardHeight);
    @include flexAll;
}



.card {
    @include size($cardWidth, $cardHeight);
    @include wordBreak;
    display: block;
    transform-style: preserve-3d;
    transition: .5s ease;
    border-radius: 18px;
    
    .face {
        @include size(100%, 100%);
        position: absolute;
        backface-visibility: hidden;
        border-radius: 18px;
        box-shadow: 2px 2px 2px 0px rgba(22, 22, 22, .2);
        padding: 5px 10px;
        cursor: pointer;
        @include prefix('user-select', none);
        -webkit-touch-callout: none; // Safari's user-select property

        &.front {
            @include flexAll(column, space-between, auto);
            background-color: whitesmoke; 
            font-size: 1.7rem;
            & .content { @include flexAll; }
            // background-color: $white;
        }

        &.back {
            border: thick solid whitesmoke;
            font-size: 1.5rem;
            font-weight: 200;
            color: $white;
            // background-color: $white;
        }
    }
}

.Quiz {
    .front {
        background-color: $white;
    }
    .back {
        transform: rotateY(-180deg);
        background-color: $white;
    }
    .card-container {
        transition: .7s ease;
        position: absolute;
        @extend %translateCenter;
    }
    .deck {
        @include position(absolute, 50%, 50%, $x: -50%, $y: -50%);
        z-index: 2;
        @include flexAll($justify: space-between);
    }
    .card {
        @include cardColor($blacksuit);
    }
}


// .Play {
//     .back {
//         transform: rotateX(180deg);
//         color: whitesmoke;
//     }
//     .deck {
//         @include size($cardWidth, $cardHeight);
//         display: flex;
//         // box-sizing: content-box;
//     }
// }


.card-container {
    @include size($cardWidth, $cardHeight);
    perspective: 1000;
    
}

