.Quiz {
    @include size (100%, 100vh);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .02px;
    padding: .02px;
    
    .Quiz__table {
        @include size(70vw, 70vh);
        @include flexAll($justify: space-between);
        margin: .02px;
        padding: .02px;
        border: medium solid $redsuit;
        position: relative;
        
        .Quiz__cards-go-here {
            @include size(250px, 350px);
            border-radius: 8px;
            border: thin dashed $white;
        }
        .Quiz__deck {
            position: absolute;
            border: thin dotted blue;
            @include size(100%, 350px);
            @include position(absolute, 50%, 50%, $x: -50%, $y: -50%);
            @include flexAll;
        }
        .Quiz__card-container {
            @include size(250px, 350px);
            @extend %translateCenter;
            position: absolute;
            perspective: 1000;
            transition: transform .7s ease;
        }
        
    }
}

.qButton {
    @include size(200px, 70px);
    @include position(absolute);
    background-color: green;
    cursor: pointer;
    @include flexAll;
    color: $white;
    z-index: 10;
}
.qButton2 {
    @extend .qButton;
    @include position(absolute, $left: 400px);
}


.Quiz {
    .front {
        background-color: $white;
    }
    .back {
        transform: rotateY(-180deg);
        background-color: $white;
    }
}


.card {
    @include size(250px, 350px);
    @include wordBreak;
    display: block;
    transform-style: preserve-3d;
    transition: transform .5s ease;
    border-radius: 18px;
    
    .face {
        @include size(100%, 100%);
        position: absolute;
        backface-visibility: hidden;
        border-radius: 18px;
        box-shadow: 7px 7px 7px 0px rgba(22, 22, 22, .8);
        padding: 5px 10px;
        cursor: pointer;

        &.front {
            @include flexAll(column, space-between, auto);
            background-color: whitesmoke; 
            font-size: 1.7rem;
            & .content { @include flexAll; }
            // background-color: $white;
        }

        &.back {
            // transform: rotateY(-180deg);
            border: thick solid whitesmoke;
            font-size: 1.5rem;
            font-weight: 200;
            // background-color: $white;
        }
    }
}



.Play {
    .back {
        transform: rotateX(180deg);
        color: whitesmoke;
    }
}