.Play, .Quiz {
    background-color: $darkbluegreen;
    @include size (100%, 100vh);
    @include flexBox(column, $justify: space-between);

    .main {
        // border: thin solid yellow;
        @include size(auto, 100%);
        @include flexBox;
    }

    .header, .footer {
        background-color: $gray;
        @include size(100%, $headerHeight);
        @include flexBox;

        .info {
            @include flexBox(column, $align: flex-start);
            padding: 0 10px;
            background-color: $redsuit;
            max-width: 400px;
            height: 100%;
        }
        .nav {
            @include flexBox;
            font-size: 1.5rem;
            li { margin: 0 10px 0 10px; }
        }
    }
    
    .table {
        @include size(800px, 100%);
        position: relative;
        
        .card-space {
            @include position(absolute, 50%, 50%, $x: -50%, $y: -50%);
            z-index: 2;
            @include flexBox($justify: space-between);
            @include size(100%, $cardHeight);
        }
        
        .place-cards-here {
            @include size($cardWidth, $cardHeight);
            border-radius: 18px;
            border: medium dashed $white;
            cursor: pointer;
            z-index: 1;
            transform: scale(.7);
        }

        .center-of-table {
            @include size($cardWidth, $cardHeight);
            border: medium solid $blacksuit;
            border-radius: 0 18px 0 18px;
            background-color: $blacksuit;
            cursor: pointer;
            z-index: 1;
            margin: 0;

            .bar {
                width: $cardWidth;
                @include flexBox;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);

                &.upper {
                    bottom: $cardHeight;
                    @include flexBox($justify: flex-start);
                    button { border-radius: 0 27px 0 0; }
                }
                &.lower {
                    top: $cardHeight;
                    @include flexBox($justify: flex-end);
                    button { border-radius: 0 0 0 27px; }
                }

                button {
                    // opacity: 0;
                    transition: .2s;
                    margin: 0;
                    border: medium solid $blacksuit;
                    font-size: 1rem;
                    padding: 0 10px;
                    z-index: 10px;
                }
            } // end of .bar
        } // end of .center-of-table
    } // end of .table

    .card-container {
        @include size($cardWidth, $cardHeight);
        transition: .7s ease;
        position: absolute;
        @extend %translateCenter;
        perspective: 1000;
    }

    .card {
        @include size($cardWidth, $cardHeight);
        @include wordBreak;
        @include cardColor($blacksuit);
        display: block;
        transform-style: preserve-3d;
        transition: .5s ease;
        border-radius: 18px;

        .face {
            @include size(100%, 100%);
            position: absolute;
            backface-visibility: hidden;
            border-radius: 18px;
            box-shadow: 2px 2px 2px 0px rgba(22, 22, 22, .2);
            padding: 5px 10px;
            cursor: pointer;
            @include prefix('user-select', none);
            -webkit-touch-callout: none; // Safari's user-select property

            &.front {
                @include flexBox(column, space-between, auto);
                font-size: 1.7rem;
                background-color: $white;
                & .content { 
                    @include flexBox; 
                    // display: inline-block;
                    background-color: rgba(22, 22, 22, .7); 
                    color: $white;
                    padding: 5px;
                    font-weight: 200;
                }
            }

            &.back {
                border: medium solid whitesmoke;
                font-size: 1.5rem;
                font-weight: 200;
                color: $white;
                background-color: $white;
                transform: rotateY(-180deg);
            }
        } // end of .face
    } // end of .card
} // end of .Play, .Quiz