.Play, .Quiz {
    background-color: $darkbluegreen;
    @include size (100%, 100vh);
    @include flexBox(column, $justify:space-between);

    .main {
        @include size(auto, 100%);
        @include flexBox;
    }

    .header, .footer {
        background-color: $gray;
        @include size(100%, $headerHeight);
        @include flexBox;
        .info {
            @include flexBox(column, $alignI:flex-start);
            padding: 0 10px;
            background-color: $redsuit;
            max-width: 400px;
            height: 100%;
        }
        .nav {
            @include flexBox;
            font-size: 1.5rem;
            li { margin: 0 10px 0 10px; }
        }
    }
    
} // end of .Play, .Quiz