.card-container {
  @include size($cardWidth, $cardHeight);
  transition: .7s ease;
  position: absolute;
  @extend %translateCenter;
  perspective: 1000;
}

.card {
  @include size($cardWidth, $cardHeight);
  @include wordBreak;
  @include cardColor($blacksuit);
  display: block;
  transform-style: preserve-3d;
  transition: .5s;
  border-radius: 18px;

  .face {
      @include size(100%, 100%);
      transform-style: preserve-3d; // seems to fix see-pip-through-card bug
      position: absolute;
      backface-visibility: hidden;
      border-radius: 18px;
      box-shadow: 2px 2px 2px 0px rgba(22, 22, 22, .2);
      padding: 5px 10px;
      cursor: pointer;
      @include prefix('user-select', none);
      -webkit-touch-callout: none; // Safari's user-select property

      &.front {
          @include flexBox(column, space-between, auto);
          font-size: 1.7rem;
          background-color: $white;
          & .content { 
              @include flexBox; 
              // display: inline-block;
              background-color: rgba(22, 22, 22, .7); 
              color: $white;
              padding: 5px;
              font-weight: 200;
          }
      }

      &.back {
          border: medium solid whitesmoke;
          font-size: 1.5rem;
          font-weight: 200;
          color: $white;
          background-color: $white;
          transform: rotateY(-180deg);
          overflow: scroll;
      }
  } // end of .face
} // end of .card