// Cards
.card {
  @include size($cardWidth, $cardHeight);
  @include wordBreak;
  display: block;
  transform-style: preserve-3d;
  transition: transform .15s ease;

  // Card faces
  .face {
      @include size(100%, 100%);
      position: absolute;
      backface-visibility: hidden;
      border-radius: 18px;
      box-shadow: 7px 7px 7px 0px rgba(22, 22, 22, .8);
      padding: 5px 10px;
      cursor: pointer;

      &.front {
          @include flexAll(column, space-between, auto);
          background-color: whitesmoke; 
          font-size: 1.7rem;
          & .content { @include flexAll; }
      }
      &.back {
          color: whitesmoke;
          border: thick solid whitesmoke;
          transform: rotateX(180deg);
          font-size: 1.5rem;
          font-weight: 200;
      }
  }
}
