main.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.Home ul {
    position: relative;
    top: -7vh;
    color: $white;
    transform: rotate(-11deg);
    * {
        margin-bottom: 11px;
    }
    h1 {
        font: {
            size: 5rem;
            weight: 700;
        }
    }
    li {
        font: {
            size: 2.7rem;
            weight: 200;
        }
    }
}