.Play {
    position: relative;

    .main {
        @include flexAll(row, flex-start);
        @include size(100vw, calc(100vh - #{$headerHeight}));
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: $darkbluegreen;
        .nav {
            @include position(fixed, $bottom: 0);
            display: flex;
            margin: 70px;
            font-size: 2rem;
        }

        // Random deck button 
        .button {
            background-color: #bbb;
            margin: 100px;
            padding: 30px;
            border: none;
            cursor: pointer;
        }

        // Deck
        #deck {
            box-sizing: content-box;
            @include position(
                absolute,
                calc(50% - #{$halfCardHeight}),
                calc(50% - #{$halfCardWidth})
            );
            margin: 0; 
            padding: 0;
            display: flex;
            // border: solid thick blue;

            // Card containers
            .card-container {
                @include size($cardWidth, $cardHeight);
                @include flexAll(column);
                @include position(relative, $bottom: 0, $left: 0);
                transform: scale(.88);
                perspective: 1000; 

                &.drop-left {
                    animation: dropLeft .55s forwards; 
                }
                @keyframes dropLeft {
                    0% {bottom: 0; left: 0; transform: rotateZ(0deg);}
                    10% {bottom: 20px;}
                    40% {left: -450px;}
                    100% {
                        bottom: -100vh; left: -700px; 
                        transform: rotateZ(-360deg);
                    }
                }
                &.drop-right {
                    animation: dropRight .55s forwards; 
                }
                @keyframes dropRight {
                    0% {bottom: 0; left: 0; transform: rotateZ(0deg);}
                    10% {bottom: 20px;}
                    40% {left: 450px;}
                    100% {
                        bottom: -100vh; left: 700px; 
                        transform: rotateZ(360deg);
                    }
                }
                
                &.flip .card {
                    transform: rotateX(180deg) 
                }

                // Suit styles
                &:nth-child(-n+13)  { @include cardColor($blacksuit); }
                &:nth-child(n+14)   { @include cardColor($redsuit); }   
                &:nth-child(n+27)   { @include cardColor($blacksuit); }
                &:nth-child(n+40)   { @include cardColor($redsuit); }

                // Cards
                .card {
                    @include size($cardWidth, $cardHeight);
                    @include wordBreak;
                    display: block;
                    transform-style: preserve-3d;
                    transition: transform .15s ease;

                    // Card faces
                    .face {
                        @include size(100%, 100%);
                        position: absolute;
                        backface-visibility: hidden;
                        border-radius: 18px;
                        box-shadow: 7px 7px 7px 0px rgba(22, 22, 22, .8);
                        padding: 5px 10px;
                        cursor: pointer;

                        &.front {
                            @include flexAll(column, space-between, auto);
                            background-color: whitesmoke; 
                            font-size: 1.7rem;
                            & .content { @include flexAll; }
                            & .pipArea {
                                & .pip { @include flexAll(column); }
                                & .suit {
                                    @include size(35px, 35px);
                                    display: block;
                                    border-radius: 50%;
                                    margin-top: 5px;
                                }
                                font-size: 2.3rem;
                                @include wordBreak(normal);
                                @include flexAll(row, flex-start);
                                &.lower { transform: rotate(180deg); }
                            }
                        }
                        &.back {
                            color: whitesmoke;
                            border: thick solid whitesmoke;
                            transform: rotateX(180deg);
                            font-size: 1.5rem;
                            font-weight: 200;
                        }

                        // Answer buttons
                        .answer {
                            @include flexAll;
                            @include size(100px, 55px);
                            @include position(absolute, $left: 50%, $x: -50%);
                            color: whitesmoke;
                            border-radius: 4px;
                            font-size: 1.3rem;
                            opacity: 0;
                            border: medium solid $white;
                            cursor: pointer;
                            &.right {
                                background-color: $white;
                                color: $gray;
                                top: -80px;
                            }
                            &.wrong {
                                background-color: $gray;
                                bottom: -80px;
                            }
                            transition: opacity .25s ease-in .15s;
                        }

                    }

                }
                // Answer buttons fade in for first card
                &.fade-in .card .answer {
                    opacity: 1;
                }
            }
        } // End of deck element


        // Click barrier
        .clickBarrier {
            @include size(calc(50% - #{$halfCardHeight}), $cardHeight);
            @include position(
                absolute,
                $top: calc(50% - #{$halfCardHeight}),
                $left: calc(50% + #{$halfCardHeight})
            );
            opacity: .5;
            z-index: 51;
            // background-color: red;
        }

    } // End of .Play className
}

