.pipArea {
  font-size: 2.3rem;
  @include wordBreak(normal);
  @include flexBox(row, flex-start);
  @include size(100%, null);

  &.lower { transform: rotateZ(180deg); }
  & .pip { @include flexBox(column); }
  & .suit {
      @include size(35px, 35px);
      display: block;
      border-radius: 50%;
      margin-top: 5px;
      background-size: 30px;
      background-repeat: no-repeat;
      background-position: center;
  }
}