Header {
    z-index: 1;
}

.Header {
  @include flexAll;
  @include size(100vw, $headerHeight);
  background-color: $gray;

  .scorecard {
    @include flexAll(column);
    @include size(25vh, 25vh);
    position: relative;
    color: $white;
    background-color: $redsuit;
    font-size: 1.7rem;
    z-index: 1;
    .score {
        font-size: 3rem;
        margin-top: 7px;
    }
    .points {
      @include position(absolute, $top: $halfCardHeight);
      opacity: 0;
      font-size: 2.5rem;
      &.pointsUp {
        animation: pointsUp 1s;
        @keyframes pointsUp {
            0% {top: 200px; opacity: 1;}
            100% {top: 120px; opacity: 0;}
        }
      }
      &.pointsDown {
        animation: pointsDown 1s;
        @keyframes pointsDown {
            0% { top: 120px; opacity: 1; }
            100% { top: 200px; opacity: 0; }
        }
      }
    } // end of .points
  } // end of .scorecard
} // end of .Header