.Manage {
  @include flexAll(column);
}

.collections {
  width: 800px;

  .collection {
    border: thin solid $redsuit;

    .columnNames {
      display: grid;
      grid-template-columns: 1fr 1fr 70px 70px 70px;
      grid-row: 1fr;
      background-color: $redsuit;
    }
    .card {
      @extend .columnNames;
      background-color: $white;
      border-bottom: thin solid $redsuit;
    }
    .columnNames h2, .cardFaces {
      grid-column: 1 / span 2;
      margin: 2px;
    }
    .bool, .delete {
      border-left: thin solid $redsuit;
      // grid-column: 2 / span 1;
    }
  }
}


// .collections {
//   margin-top: 40px;
//   padding: 10px;
//   background-color: $white;
//   width: 700px;
//   @include flexAll(column, $align: flex-start);
//   .columnNames {
//     h2 { font-size: 1.5rem; width: calc(100% - 200px); }
//     @include flexAll;
//     width: 100%;
//     background-color: red;
//   }
//   li { 
//     @include flexAll($justify: flex-start); 
//     .front, .back, .bool { padding: 5px; }
//     width: 100%;
//   }
//   .cardFaces {
//     @include flexAll(column, $justify: flex-start, $align: flex-start);
//     font-size: 1.1rem;
//     width: calc(100% - 200px);
//     margin-top: -1px;
//     border: thin solid $redsuit;
//   }
//   .front {
//     @include flexAll($justify: flex-end);
//     color: $redsuit;
//   }
//   .back {
//     margin-left: -1px;
//   }

//   .bool {
//     width: 100px;
//     cursor: pointer;
//   }
// }