$radioSize: 1.4rem;

.Manage {
  @include flexBox(column, $justify: center);
  min-height: 100vh;
  background-color: $darkbluegreen;
  padding: 20px;
  padding: 0;
  padding-top: 100px;
}

.Manage #header {
  @include flexBox;
  width: 80vw;
  height: calc(#{$headerHeight} + 20px);
  line-height: 1.5rem;
  background-color: #222;
  // border: thick solid $blacksuit;
  color: $white;
  z-index: 2;
  padding: 10px 24px;
  transition: .2s;
  // transition: margin 0s;
  & * { 
    cursor: pointer; 
    transition: .2s;
    margin-right: 20px;
  }
  &.extended {
    height: 300px;
  }
  & .home {
    @include flexBox;
    @include position(fixed, $l:0, $t:0);
    @include size(150px, $headerHeight);
    font-size: 1.7rem;
    padding: 0;
    margin: 0;
  }
  .headerList {
    font-size: 1.5rem;
    display: flex;
    z-index: 4;
    & > li { padding: 0 0 0 40px; }
  }

  .collectionSelect {
    select {
      @include prefix(appearance, none);
      background-color: rgba(255, 255, 255, 0.0);
      padding: 5px 10px;
      border-radius: 0;
      border: 2px dotted #777;
      // border: none;
      // border-left: 2px solid #777;
      // border-right: 2px solid #777;
      color: white;
      font-size: 1rem;
    }
    option {
      background-color: pink;
    }
  }
}

.editModal {
  @include position(fixed, 0, 0);
  @include size(100vw, 100vh);
  background-color: rgba(22, 22, 22, .85);
  color: $white;
  z-index: 5;
}
.flipButtonContainer {
  @include position(absolute, 50%, $t:0, $x:-50%);
  @include flexBox(column);
  z-index: 100;
  div {
    background-color: $white;
    color: $blacksuit;
    padding: 12px 18px;
    display: inline-block;
    cursor: pointer;
  }
  span { 
    margin: 12px 0;
    width: $cardWidth; 
    text-align: center;
    font-size: .9rem;
  }
}
.saveButtonContainer {
  @extend .flipButtonContainer;
  @include position(absolute, 50%, $b:0, $x:-50%);
}
.editBox {
  @include position(absolute, 50%, 50%, $x: -50%, $y: -50%);
  // background-color: rgba(200, 200, 200, .75);
  @include size(#{$cardWidth * 1.55}, #{$cardHeight * 1.55});
  @include flexBox(column);
  // padding: 0 50px;
  // border: thin solid $white;
  border-radius: 7px;
  display: none;
  // font-size: 2rem;
  h1 {
    font-size: 1.3rem;
    padding: 10px;
  }
  .editCard.form {
    @include flexBox(column);
  }
  .newCard.form {
    @include flexBox(column);
    textarea {
      @include position(absolute, $t:50%, $y:-50%);
      border: none;
      font-size: 1rem;
      padding: 12px;
      border-radius: 5px;
      resize: none;
      height: calc(#{$cardHeight * 0.85});
      width: calc(#{$cardWidth * 0.8});
    }
  }
  
  // .inputAndButton {
  //   display: flex;
  // }
  .currentContent {
    max-width: 80%;
    margin: 10px;
    line-height: 1.5rem;
    p:nth-child(1) { 
      color: #777; 
      font-size: 1.1rem;
    }
  }
  button {
    background-color: $redsuit;
    margin: 10px;
    padding: 10px;
    &:hover {
      background: $white;
      color: $redsuit;
    }
  }

  .x {
    @include position(absolute, $r:0, $t:0);
    font-size: 2rem;
    font-weight: 200;
    padding: 25px;
    margin: 0px;
    transition: .2s;
    &:hover {
      font-weight: 500;
      cursor: pointer; 
    }
  }
}

.ManageCards {
  width: 80vw;
  margin: 0px 0 70px 0;
  h3 { font-size: 1.2rem; }
  line-height: 1.5rem;

  .Manage__card {
    border: medium solid $blacksuit;
    // margin-top: 20px;

    .columnTitles {
      display: grid;
      grid-template-columns: 4fr 35fr 35fr 7fr 7fr 8fr;
      grid-row: 1fr 1fr;
      background-color: $blacksuit;
      // transition: top height .2s;
      .cardTitle, .boolTitle, .deleteTitle { 
        @include flexBox; 
        color: $white;
        font-weight: 200;
      }
      .L {
        transform: rotateZ(45deg) rotateY(180deg);
        font-family: 'Montserrat', sans-serif !important;
        cursor: pointer;
      }
    }
    .batchActions {
      @include flexBox($justify:center);
      // background-color: pink;
      height: 50px;
      grid-column: 1 / span 6;
      // width: 80vw;
      span {
        margin: 0 20px;
        cursor: pointer;
      }
    }
    .cardInfo {
      @extend .columnTitles;
      background-color: $white;
      border: 2px solid $blacksuit;
      & > * { padding: 10px; }
      &:nth-child(odd) { 
        background-color: #cfcfcf; 
      }  
    }
    .cardContent {
      border-right: thin solid $blacksuit;
      grid-column-end: span 1;
      position: relative;
      @extend %wordBreak;
      &:hover .edit { opacity: .95; }
    }
    
    #select, .bool, .delete {
      @include flexBox;
      cursor: pointer;
      grid-column-end: span 1;
      transition: .3s;
    }
    #select, .bool {
      border-right: thin solid $blacksuit;
    }
    .delete:hover {
      color: $redsuit;
      font-weight: 500;
      transform: scale(1.5);
    }
    .collections {
      // background-color: orange;
      position: relative;
      border-top: thin solid $blacksuit;
      grid-column: 1 / span 6;
    }
  } // end .Manage__card
} // end .ManageCards

input[type=checkbox] {
  @include size(2rem, 2rem);
  margin: 0;
  padding: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 2em;
  font-size: $radioSize;
  z-index: 10;
  background: yellow;
  cursor: pointer;

  & + label > span {
    @extend %inputOuterCircle;
    border: 2px solid $darkbluegreen;
  }
  &:checked + label > span {
    @extend %inputOuterCircle;
    border: 2px solid $redsuit;
  }
  & + label > span:before {
    @extend %inputInnerDot;
    opacity: 0;
  }
  &:checked + label > span:before {
    @extend %inputInnerDot;
    opacity: 1;
  }
}
%inputOuterCircle {
  display: inline-block;
  width: $radioSize;
  height: $radioSize;
  border-radius: 50%;
  vertical-align: bottom;
  transition: .4s;
  position: relative;
  margin-left: calc(-#{$radioSize * 2});
}
%inputInnerDot {
  content: '';
  display: block;
  width: calc(#{$radioSize/2});
  height: calc(#{$radioSize/2});
  border-radius: 50%;
  background-color: $redsuit;
  @include position(absolute, 50%, 50%, $x: -50%, $y: -50%);
}


input[type=submit] {
  display: none;
}

.edit {
  @include flexBox;
  @include size(100%, 100%);
  @include position(absolute, $l: 0, $t: 0);
  box-shadow: inset 0 0 200px 0 #555;
  background: $gray;
  opacity: 0;
  color: #ddd;
  transition: .7s;
  cursor: pointer;
}