.Manage {
  @include flexAll(column);
}

.collections {
  width: 800px;

  .collection {
    border: thin solid $redsuit;

    .columnNames {
      display: grid;
      grid-template-columns: 1fr 1fr 70px 70px 70px;
      grid-row: 1fr;
      background-color: $redsuit;
    }
    .cardContent {
      @extend .columnNames;
      background-color: $white;
      border-bottom: thin solid $redsuit;
    }
    .columnNames h2, .cardFaces {
      grid-column: 1 / span 2;
      margin: 2px;
    }
    .bool, .delete {
      border-left: thin solid $redsuit;
    }
  }
}