$radioSize: 1.4rem;

.Manage {
  @include flexBox(column, $justify: flex-start);
  min-height: 100vh;
  background-color: $darkbluegreen;
  padding: 20px;
  padding: 0;
}

.Manage .header {
  background-color: $gray;
  color: $white;
  @include flexBox(row, $justify: space-between);
  @include size(100%, 80px);
  @include position(fixed, 0, 0);
  z-index: 2;
  padding: 0 24px;
  transition: .2s;
  & * { 
    cursor: pointer; 
    transition: .2s;
  }
  &.extended {
    height: 300px;
  }

  .goHome {
    font-size: 1.7rem;
  }
  .editItems {
    font-size: 1.5rem;
    display: flex;
    z-index: 4;
    & > li { padding: 0 0 0 40px; }
  }
  .x {
    font-size: 1.7rem;
    font-weight: 200;
    padding: 20px;
    &:hover {
      font-weight: 500;
      transform: scale(1.5);
    }
  }
  .editBox {
    @include position(absolute, 50%, 50%, $x: -50%, $y: -50%);
    @include size(null, 370px);
    @include flexBox;
    padding: 0 50px;
    border: thin solid $redsuit;
    border-radius: 7px;
    display: none;
    h1 {
      font-size: 1.3rem;
      padding: 10px;
    }
    .form {
      @include flexBox(column);
    }
    .inputAndButton {
      display: flex;
    }
    .currentContent {
      max-width: 80%;
      margin: 10px;
      line-height: 1.5rem;
      p:nth-child(1) { 
        color: #777; 
        font-size: 1.1rem;
      }
    }
    .collectionsList {
      border: thin solid #555;
      margin: 0 30px;
      @include size(250px, 350px);
      @include flexBox($align: flex-start);
      flex-wrap: wrap;
      line-height: 1rem;
      * { 
        margin: 10px; 
        background-color: $blue;
        color: $gray;
        padding: 5px;
        border-radius: 5px;
        word-wrap: wrap;
      }
    }
    .button {
      background-color: $redsuit;
      margin: 10px;
      padding: 10px;
      &:hover {
        background: $white;
        color: $redsuit;
      }
    }
  }
}

.Manage__cards {
  width: 80vw;
  margin-top: 130px;
  h3 { font-size: 1.2rem; }
  line-height: 1.5rem;

  .Manage__card {
    border: medium solid $blacksuit;
    margin-top: 20px;

    .columnTitles {
      display: grid;
      grid-template-columns: 39fr 39fr 7fr 7fr 8fr;
      grid-row: 1fr;
      background-color: $blacksuit;
      .cardTitle, .boolTitle, .deleteTitle { 
        @include flexBox; 
        color: $white;
        font-weight: 200;
      }
    }
    .cardInfo {
      @extend .columnTitles;
      background-color: $white;
      border: 2px solid $blacksuit;
      & > * { padding: 10px; }
      &:nth-child(odd) { background-color: #cfcfcf; }  
    }
    .cardContent {
      border-right: thin solid $blacksuit;
      grid-column-end: span 1;
      position: relative;
      &:hover .edit { opacity: .95; }
    }
    .edit {
      @include flexBox;
      @include size(100%, 100%);
      @include position(absolute, $left: 0, $top: 0);
      box-shadow: inset 0 0 200px 0 #555;
      background: $gray;
      opacity: 0;
      color: #ddd;
      transition: .7s;
      cursor: pointer;
    }

    .bool, .delete {
      @include flexBox;
      cursor: pointer;
      grid-column-end: span 1;
      transition: .3s;
    }
    .delete:hover {
      color: $redsuit;
      font-weight: 500;
      transform: scale(1.5);
    }

    input[type=checkbox] {
      @include size(2rem, 2rem);
      margin: 0;
      padding: 0;
      border: thick solid red;
      opacity: 0;
      filter: alpha(opacity=0);
      width: 2em;
      font-size: $radioSize;
      z-index: 10;
      background: yellow;
      cursor: pointer;

      & + label > span {
        @extend %inputOuterCircle;
        border: 2px solid $darkbluegreen;
      }
      &:checked + label > span {
        @extend %inputOuterCircle;
        border: 2px solid $redsuit;
      }
      & + label > span:before {
        @extend %inputInnerDot;
        opacity: 0;
      }
      &:checked + label > span:before {
        @extend %inputInnerDot;
        opacity: 1;
      }
    }
    %inputOuterCircle {
      display: inline-block;
      width: $radioSize;
      height: $radioSize;
      border-radius: 50%;
      vertical-align: bottom;
      transition: .4s;
      position: relative;
      margin-left: calc(-#{$radioSize * 2});
    }
    %inputInnerDot {
      content: '';
      display: block;
      width: calc(#{$radioSize/2});
      height: calc(#{$radioSize/2});
      border-radius: 50%;
      background-color: $redsuit;
      @include position(absolute, 50%, 50%, $x: -50%, $y: -50%);
    }

    input[type=submit] {
      display: none;
    }

    .collections {
      // background-color: orange;
      position: relative;
      border-top: thin solid $blacksuit;
      grid-column: 1 / span 5;
    }
  } // end .Manage__card
} // end .Manage__cards