@mixin size($width: null, $height: null) {
    width: $width;
    height: $height;
}

@mixin position(
    $position, 
    $top: null, 
    $left: null, 
    $bottom: null, 
    $right: null,
    $x: 0,
    $y: 0,
    $deg: 0deg
) {
    position: $position;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
    transform: translate($x, $y) rotate($deg);
}

@mixin flexAll($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}