@mixin big3D {
    font: {
        size: 5rem;
        weight: 700;
    }
    margin-bottom: 17px;
    text-shadow: 
    1px 1px 0px $redsuit,
    2px 2px 0px $redsuit,
    3px 3px 0px $redsuit,
    4px 4px 0px $redsuit,
    5px 5px 0px $redsuit,
    6px 6px 0px $redsuit,
    7px 7px 0px $redsuit,
    8px 8px 0px $redsuit,
    9px 9px 0px $redsuit,
    10px 10px 0px $redsuit,
    11px 11px 0px $redsuit,
    12px 12px 0px $redsuit,
    13px 13px 0px $redsuit;
}

@mixin lil3D {
    font: {
        size: 2.7rem;
        weight: 200;
    }
    margin-bottom: 11px;
    text-shadow: 
    1px 1px 0px $redsuit,
    2px 2px 0px $redsuit,
    3px 3px 0px $redsuit,
    4px 4px 0px $redsuit,
    5px 5px 0px $redsuit,
    6px 6px 0px $redsuit,
    7px 7px 0px $redsuit;
}

@mixin wordBreak($val: break-word) {
    word-wrap: $val;
    word-break: $val;
}