.applyCollections, .editCollections {
  @include flexBox(column);
  // width: 100%;
}
.formContainer {
  @include flexBox(column);
}
.applyCollections.form {
  @include flexBox(row);
}

.collectionsList {
  width: 100%;
  height: 250px;
  @include flexBox(column, $align: flex-start);
  border: thin solid #555;
  background-color: $white;
  line-height: 1rem;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: scroll;

  .collectionListItem { 
    @include flexBox;
    padding: 5px;
    background-color: tomato;
    border-radius: 5px;
    word-wrap: wrap;
  }
}
.collection {
  @include flexBox;
  display: inline-flex;
  margin: 0 4px;
  padding: 5px 9px;
  border-radius: 50px;
  background-color: $redsuit;

  .unapply {
    @include size(100%, 100%);
    opacity: .5;
    transition: .5s;
    padding-left: 7px;
    cursor: pointer;
    &:hover { color: $white; opacity: 1;}
  }
}