.applyCollections, .editCollections {
  @include flexBox(column);
  // width: 100%;
}
.formContainer {
  @include flexBox(column);
}
.applyCollections.form {
  @include flexBox(row);
}

.collectionsModal {
  @include position(fixed, $t:0, $l:0);
  @include size(100vw, 100vh);
  @include flexBox;
  background-color: rgba(22, 22, 22, .85);
  z-index: 5;
  
  .collectionsContainer {
    @include size(50vw, 80vh);
    @include flexBox(column);
    line-height: 1rem;
    border: thin solid #555;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: $white;
    color: $white;
  }

  .collectionItem { 
    @include flexBox($justify:initial);
    flex: 0 0 auto;
    @include size(300px, 100px);
    padding: 5px;
    background-color: $blacksuit;
    border-radius: 5px;
    word-wrap: wrap;
  }

  .button {
    padding: 20px;
    background-color: $blacksuit;
    cursor: pointer;
  }
} // end of collectionsModal

.collection {
  @include flexBox;
  display: inline-flex;
  margin: 0 4px;
  padding: 5px 9px;
  border-radius: 50px;
  background-color: $redsuit;
  cursor: pointer;
  &:hover { 
    color: $white; 
    opacity: 1; 
    & .unapply { opacity: .2; }
  }

  .unapply {
    @include size(100%, 100%);
    transition: .5s;
    opacity: 0;
    padding-left: 7px;
    &:hover { color: $white; opacity: 1;}
  }

  
}