.Play {
    position: relative;

    .main {
        @include size(100vw, calc(100vh - #{$headerHeight}));
        @include flexAll(row, flex-start);
        position: relative;
        overflow-x: hidden;
        overflow-y: hidden;
        background-color: $darkbluegreen;
        .nav {
            @include position(fixed, $bottom: 0);
            display: flex;
            margin: 70px;
            font-size: 2rem;
        }

        // Random deck button 
        .button {
            background-color: #bbb;
            margin: 100px;
            padding: 30px;
            border: none;
            cursor: pointer;
        }


        // Click barrier
        .clickBarrier {
            @include size(calc(50% - #{$halfCardHeight}), $cardHeight);
            @include position(
                absolute,
                $top: calc(50% - #{$halfCardHeight}),
                $left: calc(50% + #{$halfCardHeight})
            );
            opacity: .5;
            z-index: 51;
            // background-color: red;
        }

    } // End of .Play className
}

